charond/conf/config.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" xmlns="http://www.w3schools.com" elementFormDefault="qualified">

<xs:element name="config">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="database"></xs:element>
      <xs:element name="logger"></xs:element>
      <xs:element name="template"></xs:element>
      <xs:element name="email"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
